html { 
  background: url(yoonahbae.github.io/photo_band.img.768.high.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
